<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Headings</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, ipsa?</p>
    </header>
</section>

<section class="block block--dark container">
    <header class="block__header">
        <h2 class="block__heading">Headings</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, ipsa?</p>
    </header>
</section>

<section class="block block--cyan block--skewed-right">
    <div class="container">
        <h2 class="block__heading">Headings</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, ipsa?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, ipsa?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, ipsa?</p>
    </div>
</section>