<div style="width: 50%">
    <div class="card">
        <header class="card__header">
            <img src="images/profile.jpg" alt="">
        </header>
        <div class="card__body">
            <h3>Card Tilte</h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, atque.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, atque.
        </div>
        <div class="card__footer"><a href="#" class="link-arrow">Read more</a></div>
    </div>
</div>