<footer class="block">
    <div class="container footer">
        <div>
            <h4>Address</h4>
            <ul class="list footer_list">
                <li class="footer__item">KIGALI-RWANDA</li>
                <li class="footer__item">KG 47 AV</li>
                <li class="footer__item">(+250) 788 24 18 79</li>
            </ul>
        </div>
        <div class="footer__links">
            <div class="footer__email">
                <h4>Email</h4>
                <a href="mailto:ixacson@gmail.com">ixacson@gmail.com</a>
            </div>
            <div class="footer__icon">
                <h4>Follow</h4>
                <div>
                    <a href="/"><img src="images/github.png" alt="" class="icons"></a>
                </div>
                <div>
                    <a href="/"><img src="images/twitter.png" alt="" class="icons"></a>
                </div>
                <div>
                    <a href="/"><img src="images/linkedin.png" alt="" class="icons"></a>
                </div>
                <div>
                    <a href="/"><img src="images/instagram.png" alt="" class="icons"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p>&copy; 2021 All rights reserved - ISHIMWE Isaac</p>
    </div>
</footer>