<footer class="container">
    <div class="footer__address">
        <div class="footer__home-address">
            <h4>address</h4>
            <p>kigali-rwanda</p>
            <p>kg 150 street</p>
            <p>(+250) 788 24 18 78</p>
        </div>
        <div class="footer__social-media">
            <div>
                <h4>Email</h4>
                <a href="mailto:ixacson@gmail.com">ixacson@gmail.com</a>
            </div>
            <div class="footer__social-media-address">
                <h4>follow</h4>
                <div class="footer__icons">
                    <div>
                        <a href="https://github.com/IIshimwe" target="_blank"><img src="images/github.png" alt=""
                                class="icons"></a>
                    </div>
                    <div>
                        <a href="https://twitter.com/iishimwe_" target="_blank"><img src="images/twitter.png" alt=""
                                class="icons"></a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/iishimwe/" target="_blank"><img src="images/linkedin.png"
                                alt="" class="icons"></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/ishimweisaka/" target="_blank"><img
                                src="images/instagram.png" alt="" class="icons"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="footer__copyright">&copy; 2021 All rights reserved - ISHIMWE Isaac</p>
</footer>