<section class="hero">
    <div class="grid hero__grid">
        <header class="hero__profile">
            <div class="hero__profile-background"></div>
            <div class="hero__profile-foreground">
                <img class="hero__image" src="images/profile.jpg" alt="Profile picture">
                <h2 class="hero__profile-name">ISHIMWE Isaac</h2>
                <p class="hero__tagline">Software developer.</p>
            </div>
        </header>
        <div class="block container block__content hero__content">
            <h1 class="block__heading">Hello</h1>
            <p class="hero__content-tagline">
                I’m ISHIMWE a software Developer and designer.
                I get pleasure programming Javascript applications and Design. Both frontend and backend.
                I built a lot of stuffs for myself as well as for the community to raise their expirience.
            </p>
            <a href="#" class="btn btn--accent">Resume</a>
            <a href="#form__container" class="btn btn--outline">Contact</a>
        </div>
    </div>
</section>