<div class="container">
    <details>
        <summary>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolore Lorem,
            ipsum dolor sit amet
        </summary>
        <img src="images/profile.jpg" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ullam dolores ipsam nemo voluptas
            harum,
            recusandae officia voluptate. Natus, consequatur unde. Dignissimos saepe rerum quis, amet enim error
            nisi
            alias, quasi ullam voluptatibus eius labore doloremque nemo necessitatibus. Eligendi reiciendis
            praesentium
            suscipit sunt quas itaque eum distinctio nobis perspiciatis laborum iusto repellat ipsum aspernatur quo
            provident officia dicta, animi adipisci voluptas recusandae quae cum libero voluptatem. Adipisci cumque
            id
            alias quidem voluptate aut dignissimos laborum nesciunt, nobis illo quis eveniet, consequuntur
            laudantium
            impedit blanditiis neque tempora perferendis debitis laboriosam enim ratione rerum expedita quas vel!
            Harum
            maxime excepturi molestiae dolor?
        </p>
        <form>
            <input type="text" name="comment" id="" placeholder="Write a comment...">
        </form>
    </details>

</div>