<div class="block skills">
    <h2 class="block__header">Skills</h2>
    <div class="container skills__list">
        <ul class="list list--tick">
            <li class="list__item">HTML / CSS</li>
            <li class="list__item">Javascript</li>
            <li class="list__item">NodeJs</li>
            <li class="list__item">ReactJs</li>
        </ul>

        <ul class="list list--tick">
            <li class="list__item">Git / GitHub</li>
            <li class="list__item">Express</li>
            <li class="list__item">Postgres</li>
            <li class="list__item">SEO</li>
        </ul>
    </div>
</div>